
/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

html {
  /* font-size: 10px; */
}

body {
  /* font-size: 1.6rem; */
  color: #222;
  font: inherit;
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}