@import url(./fonts.css);
@import url(./normalize.css);
@import url(./reset.css);
@import url(./base.css);
@import url(./a11y-hidden.css);
@import url(./theme.css);

/* 모든 디바이스(all Device)  */
/* 공통 디바이스 */

/* 공통 아이콘 */
.fa-sharp {
  margin-right: 14px;
}

/* 공통 헤더 */
  .header {
    width: 100%;
    background-color: #fff;
    height: 100px;
    position: sticky;
    top:0;
    display: flex;
    flex-flow: row nowrap;
    margin: auto 0;
    padding: 0 3.4375rem;
    position: relative;
  }
  
  .container {
    /* background-color: yellow; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    /* background-color: yellow; */
    height: 3.125rem;
    width: 3.125rem;
  }

  .wrapper {
    /* background-color: coral; */
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  .navigation {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    padding-left: 3.3333333333333335rem;
    gap: 25px;
    font-size: var(--text-sm);
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .members {
    /* background-color: blue; */
  }
  
  .findAstore {
    margin-right: 40px;
    padding: 10px 8px;
  }
  
  .members button {
    border: 1px solid black;
    border-radius: 999px;
    padding: 5px 15px;
    font-size: var(--text-base);
  }

  .members .Sign-in {
    background-color: #fff;
    margin-right: 10px;
  }

  .members .Join-Now {
    background-color: var(--black);
    color: var(--white);
  }

  .sub-nav {
    height: 48px;
    color: #fff;
    background-color: #1e3932;
    box-shadow: 0px 3px 20px -15px black;
    display: flex;
    flex-flow: row nowrap;
    align-items : center;
    padding-left: 12.5rem;
    /* height: 100%; */
 }


/* 모바일 디바이스 */

@media (max-width: 768px) {
  .navigation, .members {
    display: none;
 }

 .header {
   position: relative;
   padding: 0 1rem;
   height: 75px;
 }

 .logo {
   width: 2.5rem;
   height: 2.5rem;
 }

 .sub-nav {
   padding-left: 16px;
 }

  /* 메뉴 제어 버튼 */
  .buttonWrapper {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    right: var(--spacing-xl);
  }
  
  .button--burger {
    border: 0;
    background-color: transparent;
    position: relative;
    width: 1rem;
    height: 1rem;
  }
  
  .button--burger:focus {
    outline-offset: 2px;
  }
  
  .button--burgerBarTop,
  .button--burgerBarMiddle,
  .button--burgerBarBottom {
    position: absolute;
    width: 100%;
    height: 15%;
    background: #666;
    border-radius: 0.25rem;
    left: 0;
    transition: all 200ms;
  }
  
  .button--burgerBarTop {
    top: 0;
  }
  
  .button--burgerBarMiddle {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .button--burgerBarBottom {
    top: 100%;
    transform: translateY(-100%);
  }
  
  .button--burger.is--active .button--burgerBarMiddle {
    transform: translate(-150%, -50%);
  }
  
  .button--burger.is--active .button--burgerBarTop {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  
  .button--burger.is--active .button--burgerBarBottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  /* 모바일 비쥬얼 배너 */

  .banner {
    height: 670px;
    background: url(./images/banner-mobile-size.png) no-repeat 0 0/100%;
  }

  .visual-wrapper {
    padding-top: 30px;
    text-align: center;
  }

  .visual-text {
    /* background-color:yellow; */
    display: inline-block;
    line-height: 1.5;
    width: 210px;
    font-size: var(--text-xl);
    text-transform: uppercase;
    font-weight:700;
  }

  .visual-sub-text {
    display: block;
    margin-top: 18px;
  }

  .join-now {
    display: inline-block;
    content: "";
    border: 0;
    color: var(--white);
    padding: 8px 16px;
    border-radius: 9999px;
    background-color: #00754a;
    margin-top: 20px;
  }

  .join-now::after {
    content: "Join in the app";
  }

  .alternative {
    display: block;
    margin-top: 20px;
  }
}

/* 테블릿 디바이스 */

/* 데스크탑 디바이스 */

@media (min-width: 768px) {

.navigation li, .members button {
  font-size: 14px;
}

.buttonWrapper {
  display: none;
}

.fa-location-dot {
  transform: translateY(15%);
  font-size: 25px;
}

.findAstore {
  font-size: 13px;
  font-weight: 600;
}

.banner {
  height: 785px;
  background: url(./images/banner-image.png) no-repeat 0 0/100%;
  display: flex;
  flex-grow: row nowrap;
  position: relative;
}

.visual-wrapper {
  padding-left: 10rem;
  display: block;
  position: absolute;
  /* background-color: yellow; */
  top: 50%;
  transform: translateY(-100%);
}

.visual-text {
  font-size: var(--text-xl);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.visual-sub-text {

}

.alternative {

}

.join-now {
  border: 0;    
}

.join-now::after {
  display: inline-block;
  content: "Join now";
  border: 0;
  color: var(--white);
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 30px;
  border-radius: 9999px;
  background-color: #00754a;
}

}